body, html {
	height: 100%;
}

body{
	overflow-x: hidden;
 	width: 100%;
 	height: 100%
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:-1;
}
.backgroundImg{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:-1;
}
#bgImage{
	background-image: url(../image/bgResearch3.jpg);
	background-position: 62%;
}

#bgImageAch{
	background-image: url(../image/bg5.jpg);
	background-position: 60%;
}
#bgImageRes{
	background-image: url(../image/bgPresent2.jpg);
	background-position: 52%;
}
#bgImagePrj{
	background-image: url(../image/bgPresent2.jpg);
	background-repeat: no-repeat;
	background-position: 52%;
}
h1{
	white-space: pre-wrap;
	margin-top: 0;
	margin-bottom: 40px;
	color: #fff;
	font-family: Playfair Display;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.1em;
	text-transform: none;
	margin: .67em 0;
	display: block;
	font-size: 4em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h2{
 	white-space: pre-wrap;
	margin-bottom: 0;
	font-weight: 100;
	font-family: 'Proxima Nova Light';
	font-style: normal;
	font-size: 40px;
	letter-spacing: -.01em;
	line-height: 1.5em;
	text-transform: none;
	text-align: center;
	display: block;
	margin-right: 0%;
	margin-left: 0%;
}
h4{
	white-space: pre-wrap;
	margin-bottom: 0;
	font-weight: 100;
	font-family: 'Proxima Nova';
	font-style: normal;
	

}
body, h1, h2, h3, p {
	-webkit-font-smoothing: antialiased !important;
}
h1, h2, h3 {
	text-rendering: optimizeLegibility;
}


.fade-in {
	opacity: 0;
	transition: opacity 350ms ease-in;
}

.fade-in.showUp {
 	opacity: 1;
}

.from-left {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.from-right {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.from-left,
.from-right {
	transition: opacity 350ms ease-in, -webkit-transform 400ms ease-in;
 	opacity: 0;
}

.from-left.showUp,
.from-right.showUp {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

.from-bottom {
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.from-bottom {
	transition: opacity 350ms ease-in, -webkit-transform 400ms ease-in;
	opacity: 0;
}

.from-bottom.showUp {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.Index-page-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20vh 6vw;
}


#intro{
	color: #fff;
}


#intro h2{
	white-space: pre-wrap;
	margin-top: 0;
	/*margin-bottom: 30% !important;*/
	color: #fff;
	font-family: Playfair Display;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.1em;
	text-transform: none;
	margin: .67em 0;
	display: block;
	font-size: 1.8em;
	margin-block-start: 0.67em;
	/*margin-block-end: 0.67em;*/
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	float: left;
	text-align: left;

}

.DetailsLink{
	text-align: center;
	text-decoration: underline;
	padding: 0 30%;
}
.link{
	text-decoration: underline;
	color: #0070FF;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

#about{
	float: center;
	margin-bottom: 20%;
	margin-top: 30%;
}

#about h1{
	white-space: pre-wrap;
	color: #151515;
	font-family: Playfair Display;
	font-weight: 700;
	font-style: normal;
	font-size: 68px;
	letter-spacing: .01em;
	line-height: 1.1em;
	text-transform: none;
	display: block;
	font-weight: bold;
	text-align: center;

}

#about h2{
	white-space: pre-wrap;
	margin-bottom: 1em;
	color: #121212;
	font-weight: 300;
	font-style: normal;
	font-size: 29px;
	letter-spacing: -.01em;
	line-height: 1.5em;
	text-transform: none;
	text-align: center;
	display: block;
	margin-right: 0%;
	margin-left: 0%;
}

#aboutMe{
	color: #121212;
	width: 100%;
	/*float: center;*/
	/*clear: both;*/
	margin-bottom: 10%;
}

#aboutMe h1{
	font-family: Playfair Display;
	font-weight: 700;
	font-style: normal;
	font-size: 68px;
	letter-spacing: .01em;
	line-height: 1.1em;
	text-transform: none;
	/*display: block;*/
	font-weight: bold;
	/*text-align: center;*/
	color: #121212;
}
#aboutMe h2{
	margin-bottom: 0;
	font-weight: 300;
	font-style: normal;
	font-size: 29px;
	letter-spacing: -.01em;
	line-height: 1.5em;
	text-transform: none;
	text-align: left;
	/*display: block;*/
	/*padding: 0% 20% 10% 20%;*/
}

#aboutMe p{
	text-align: justify;
	padding-right: 5%;
}

#workImg img{
	/*padding: 25% 5%;*/
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: auto !important;
	position: static !important;
	border: 0;
}

.multi-img{
	padding: 0;
}

#experiences h2{
	margin-bottom: 0;
	font-weight: 300;
	font-style: normal;
	letter-spacing: -.01em;
	line-height: 1.5em;
	text-transform: none;
	text-align: center;
	display: block;
	padding: 0% 20% 3% 20%;
}

#experiences{
	margin-bottom: 10%;
	margin-top: 25%;
}

#tbl{
	float: center;
	text-align: center;
	border-collapse: collapse;
	border-spacing:0 20px;

}
 #tbl td{
 	width: auto;
 	padding: 1.5em;

 }
 #tbl h4{


 }
#tbl h5{
 	color: #5F5F5F;
 	font-style: italic;

 }
#tbl h6{
 	color: #979797;
 }

#education{
	color: #fff;
	background-color: #1a1a1a;
	width: 100%;
	float: center;
	clear: both;
	padding: 10% 2% 10% 2%;
	margin-bottom: 10%;
}
#allProject{
	color: #fff;
	background-color: #1a1a1a;
	width: 100%;
	float: center;
	clear: both;
	padding: 10%;
	margin-bottom: 10%;
}
 #tblEdu td{
 	width: auto;
 	color: #fff;
 	padding: 1.5em;
 }
 #tblEdu h4{
	color: #fff;
 }
#tblEdu h5{
	color: #DDDDDE;
	font-style: italic;
 }
#tblEdu h6{
	color: #B1B1B1;
 }

#achievements{
	margin-top: 20%;
}
#tblAch, #tblResearch{
	float: center;
	text-align: center;
	border-collapse: collapse;
	border-spacing:0 20px;
	margin-bottom: 10%;
}
#tblResearch{
	text-align: left;
}
#tblAch td, #tblResearch td{
	width: auto;
	/*padding: 1.5em;*/
 }

#tblAch h5, #tblResearch h5{
	color: #5F5F5F;
	font-style: italic;

 }
#tblAch h6, #tblResearch h6{
 	color: #979797;
 }
.tblSkillTitle, .tblExpDate{
	width: 40%;
}
.tblSkillDetails, .tblExpTitle{
	width: 60%;
}
#tblSkills ul{
	display: block;
	list-style-type: disc;
	margin-block-start: 0em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	font-size: 1em;
}

#tblSkills h5{
	display: block;
	list-style-type: disc;
	margin-block-start: 0.2em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	word-wrap: break-word;
	color: #979797;
	font-style: italic;
}


#tblSkills li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.sideBySide-media{
	padding: 0;
}

.prize {
	text-align: center;
	border: 3px #ffffff solid;
}

.prize h3{
	font-family: Rockwell;
}

.tblResearchTitle td{
	padding-left: 10%;
}

.projects{
	padding: 4%;
	margin: 1%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 10px #1a1a1a solid;
	border-radius: 25px;
	width: full;
	height: full;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: justify;
	hyphens: auto;
	color: #E1E1E1;
}
.projects h3{
	font-weight: bold;
}
#prj-multiRobot, #prj-welding, #prj-tunnel, 
#prj0, #prj1, #prj2, #prj3, #prj4, #prj5, #prj6, #prj7, #prj8, 
#prj-coins, #prj-luci, #prj-netServer{
	box-shadow: inset 0 0 0 500px rgba(39, 39, 39, 0.4);
} 
.projects:hover{
	color: #ffffff;
}
#prj-multiRobot{
	background-color: #f4c517;
	background-image: url(../image/multiRobot.jpg);
}
#prj-multiRobot:hover{
	box-shadow: inset 0 0 0 500px rgba(102, 102, 153,1);
}
#prj-welding{
	background-color: #f4c517;
	background-image: url(../image/vrWelding.jpg);
}
#prj-welding:hover{
	box-shadow: inset 0 0 0 500px rgba(152, 152, 152,1);
}
#prj-tunnel{
	background-color: #f4c517;
	background-image: url(../image/tunnelRobot.jpg);
}
#prj-tunnel:hover{
	box-shadow: inset 0 0 0 500px rgba(255, 87, 51,1);
}
#prj0{
	background-image: url(../image/rescueCar.jpg);
}
#prj0:hover{
	box-shadow: inset 0 0 0 500px rgba(244,197,23,1);	
}

#prj-coins{
	background-image: url(../image/coins.jpg);
}
#prj-coins:hover{
	box-shadow: inset 0 0 0 500px rgba(255, 102, 255,1);
	
}
#prj-luci{
	background-image: url(../image/luci.jpg);
}
#prj-luci:hover{
	box-shadow: inset 0 0 0 500px rgba(102, 204, 255,1);
}
#prj-netServer{
	background-image: url(../image/netServer.jpg);
}
#prj-netServer:hover{
	box-shadow: inset 0 0 0 500px rgba(255, 153, 51,1);
}
#prj1{
	background-image: url(../image/forum1.jpg);
}

#prj1:hover{
	box-shadow: inset 0 0 0 500px rgba(167, 199, 18, 1);
}

#prj2{
	background-image: url(../image/attendance.jpg);
}

#prj2:hover{
	box-shadow: inset 0 0 0 500px rgba(212, 68, 91,1);
}

#prj3{
	background-image: url(../image/obstacleCar.jpg);
}

#prj3:hover{
	box-shadow: inset 0 0 0 500px rgba(117, 190, 204,1);	
}

#prj4{
	background-image: url(../image/3dhand.jpg);
}

#prj4:hover{
	box-shadow: inset 0 0 0 500px rgba(12, 12, 12 ,1);
}

#prj5{
	background-image: url(../image/smartCity.jpg);
}

#prj5:hover{
	box-shadow: inset 0 0 0 500px rgba(82, 150, 110,1);
}

#prj6{
	background-image: url(../image/appDesign.jpg);
}

#prj6:hover{
	box-shadow: inset 0 0 0 500px rgba(223, 165, 228,1);	
}

#prj7{
	background-image: url(../image/games.jpg);
	box-shadow: inset 0 0 0 500px rgba(39, 39, 39, 0.8);
}
#prj7:hover{
	box-shadow: inset 0 0 0 500px rgba(35, 75, 149,1);
}
#prj8{
	background-image: url(../image/media.jpg);
}
#prj8:hover{
	box-shadow: inset 0 0 0 500px rgba(131, 154, 176,1);
}

#footer{
	background-color: #1a1a1a;
 	white-space: pre-wrap;
	color: #fff;
	font-family: Playfair Display;
	font-style: normal;
	top: 50%;
	text-transform: none;
	display: block;
	font-weight: bold;
	text-align: center;
}

#footer h2{
	background-color: #1a1a1a;
 	white-space: pre-wrap;
	color: #fff;
	font-family: Playfair Display;
	font-style: normal;
	text-transform: none;
	display: block;
	font-weight: bold;
	text-align: center;

}

#footer a{
	padding: 0;
	margin: 0;
}



#linkedin {
	background: url(../image/linkedin.png) no-repeat;
	height: 50px;
	width: 50px;
	padding: 0;
	margin: 0;
	margin-top: 1.5em;
}

#footer h4{
 	white-space: pre-wrap;
	color: #fff;
	font-style: normal;
	text-transform: none;
	display: block;
	text-align: center;
	margin-top: -2.5%;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
}

#nav{
	color: #ffffff;
	padding: .618em 0;
	vertical-align: middle;
	transition: color 170ms ease-in-out, background-color 170ms ease-in-out;

	
}
#nav h4{
	color: #ffffff;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	letter-spacing: .16em;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 1em;
	text-align: center;
	padding-bottom: 20px;
}


/* ---------------------------------------------------------------------------------------------------------- 
04 Media queries (using a mobile-first approach) ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 1 and up */	
@media screen and (min-width:1px) {

}
/*narrow screen*/
@media screen and	(orientation: portrait) {

	body { font-size:85%; }

	body {
		width: 100%;
		height: 100%;
		z-index:-1;
	}


	#nav h4{
		font-size: 15px;
	}
	#intro{
		margin-top: 3vh;
		height: 100%;
		margin-left: 0.5vw;
	}

	#intro h1{
		font-size: 2.5em;
		margin-top: 35vh;
		margin-bottom: 1vh;
	}


	#about h1{
		font-size: 30px;
		/*margin-top: 20vh;*/
	}

	#about h2{
		font-size: 18px;
	}
	#aboutMe h1{
		font-size: 2.5em;
		text-align: center;
	}
	#aboutMe h2{

		/*padding: 0% 5% 10% 5%;*/
		font-size: 20px;

	}
	#aboutMe p{
		padding-right: 0;
	}
	#workImg img{
		margin-top: 1vh;
		padding: 0 8% 15% 8%;
	}	
	.sub-title h2{
		font-size:6vw;
	}
	#tbl h3, #tblAch h3, #tblEdu h3, #tblSkills h3, #tblResearch h3{
		font-size: 70%;
	}

	#tbl h4, #tblAch h4, #tblEdu h4, #tblSkills h4, #tblResearch h4{
		font-size: 70%;
	}
	#tbl h5, #tblAch h5, #tblEdu h5, #tblSkills h5, #tblResearch h5{
		font-size: 70%;
	}
	#tbl h6, #tblAch h6, #tblEdu h6, #tblSkills h6, #tblResearch h6{
		font-size: 60%;
	}
	#about{
		margin-top: 20vh;
	}
	.projects{
		text-align: left;	
	}
	.projects h3{
		font-size: 5.2vw;
		font-weight: bold;
	}

	.projects h4{
		font-size: 4.7vw;
		font-weight: 500;
	}	

	#achievements, #experiences{
		margin-top: 5vh;
	}
	.tblResearchTitle h4, .tblAchTitle h4, .tblExpTitle h4{
		font-weight: bold;
	}
	.tblSkillTitle, .tblExpDate{
		width: 20%;
	}
	.tblSkillDetails, .tblExpTitle{
		width: 80%;
	}	
	#tblSkills ul{
		font-size: 0.7em; 
	}
	#tblSkills h5{
		padding-left: 2em; 
	}	

	#footer h2{
		font-size: 25px;
	}
	#footer h4{
		font-size: 15px;
	}


}

/* 550 and up */	
@media screen and (min-width:550px) {
	#intro{
		margin-top: 40vh;
	}
	#achievements, #experiences, #about{
		margin-top: 20vh;
	}
}





/* 650 and up */	
@media screen and (min-width:650px) {



}

/* 700 and up */	
@media screen and (min-width:700px) {

	

}

/* 800 and up */	
@media screen and (min-width:800px) {

	body 						{ font-size:100%; }

}

/* 900 and up */	
@media screen and (min-width:900px) {

	body 						{ font-size:110%; }

}

/* 1500 and up */	
@media screen and (min-width:1500px) {

	body 						{ font-size:125%; }

}

/* 1800 and up */	
@media screen and (min-width:1800px) {

	body 						{ font-size:150%; }

}

/* 2100 and up */	
@media screen and (min-width:2100px) {

	body 						{ font-size:175%; }
	#tblSkills ul				{font-size: 0.7em; }


}
/* 2500 and up */	
@media screen and (min-width:2500px) {

	body 						{ font-size:200%; }


}




